
form{
    box-sizing: border-box;
    border-radius: 2px;
    text-align: center;
    width: 50%;
    box-sizing: border-box;
    padding: 3rem;
    margin-top: 3rem;
   margin-bottom: 3rem;
   background-color:rgb(92 92 249 / 66%);

}
